
        .ui.currency.dropdown, .ui.currency.dropdown .ui.selection.dropdown {
/*            border: 1px solid #fbc02d;*/
            border-radius: 0;
            font-size: 1.25em;
            min-width: 8em!important;
        }
        .ui.currency.dropdown .ui.selection.dropdown:hover, .ui.currency.dropdown .ui.selection.dropdown:focus {
/*            border: 1px solid!important;
            border-color: #fbc02d!important;
            box-shadow: none;*/
        }
        .ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
/*            border: 1px solid!important;
            border-color: #fbc02d!important;*/
        }
        .ui.currency.dropdown, .ui.currency.dropdown * {
            background: #f7f7f7!important;
        }
        .ui.selection.visible.dropdown>.text:not(.default),
        .ui.currency.dropdown .menu .selected.item,
        .ui.currency.selected,
        .ui.currency.dropdown .menu>.item:hover {
/*            color: rgb(251, 192, 45)!important;*/
        }
      