.ui {
  &.currency.dropdown {
    /*            border: 1px solid #fbc02d;*/
    border-radius: 0;
    font-size: 1.25em;
    min-width: 8em !important;

    .ui.selection.dropdown {
      /*            border: 1px solid #fbc02d;*/
      border-radius: 0;
      font-size: 1.25em;
      min-width: 8em !important;

      &:hover, &:focus {
        /*            border: 1px solid!important;
                    border-color: #fbc02d!important;
                    box-shadow: none;*/
      }
    }
  }

  &.selection.active.dropdown {
    /*            border: 1px solid!important;
                border-color: #fbc02d!important;*/

    .menu {
      /*            border: 1px solid!important;
                  border-color: #fbc02d!important;*/
    }
  }

  &.currency.dropdown {
    background: #f7f7f7 !important;

    * {
      background: #f7f7f7 !important;
    }
  }

  &.selection.visible.dropdown > .text:not(.default) {
    /*            color: rgb(251, 192, 45)!important;*/
  }

  &.currency {
    &.dropdown .menu .selected.item, &.selected, &.dropdown .menu > .item:hover {
      /*            color: rgb(251, 192, 45)!important;*/
    }
  }
}
