.ruk_reviews {
  font-family: 'arial';
  color: #555;
  background: #f0f0f0;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.15), inset 10px 10px 20px 2px rgba(0, 0, 0, 0.01);
  border-bottom: 2px solid #555;
  padding: 20px;
}

#ruk_main {
  cursor: pointer;
}

.ruk_head {
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 60px;

  div {
    width: 33%;
    float: left;
    line-height: 34px;
    text-align: center;
    font-size: 16px;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  a {
    color: #555;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 34px;
  }
}

.ruk_review {
  padding: 10px;
  clear: both;
  font-size: 16px;
  color: #555;
  line-height: 24px;
  margin: 40px 0px;
  overflow: auto;
  zoom: 1;

  .ruk_review_text {
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: left !important;

    &:before {
      content: '"';
      font-size: 30px;
      color: #cecece;
      padding: 10px;
      position: absolute;
      margin-left: -30px;
      margin-top: -10px;
    }
  }
}

.ruk_review_rating {
  float: right;
  font-size: 20px;
}

.ruk_review_author {
  float: right;
  font-size: 12px;
  line-height: 20px;
  padding-right: 20px;
  color: #777;
  font-style: italic;
}

.ruk_footer {
  &:before {
    content: "";
    width: 100%;
  }

  text-align: center;
  clear: both;
  margin: 20px 0px;

  a {
    font-size: 12px;
    color: #777;
    text-decoration: none;
  }
}

#ruk_rs_widget {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 100%;
  bottom: 100%;
  cursor: pointer;
  display: block;
  z-index: 666;
}

.ruk_hidden {
  display: none !important;
}

#ruk_rs_container {
  position: fixed;
  width: 600px;
  height: auto;
  z-index: 666;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.02);
}
